<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <img src="https://www.shutterstock.com/image-vector/green-check-mark-icon-tick-600nw-522874111.jpg" alt="Success" class="img-fluid mb-4" style="max-width: 150px;">
    
    <h4 class="mb-3 font-weight-bold">Your Application has been Submitted!</h4>
    
    <p>We appreciate your interest in joining our team and wish you the best of luck! If you have any questions, please feel free to contact us at [contact email].</p>
    
    <a href="<%= root_path %>" class="btn btn-primary mt-4">Back to Home</a>
  </div>
</div>

