<div class="container">
  <% flash.each do |name, msg|%>
 <% alert_class = (name == "notice") ? "alert-success" : "alert-danger" %>
  <div class="alert <%= alert_class %>  alert-dismissible fade show" role="alert">  
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>       
  </div>
    <% end %>
</div>    
<%# <script>
  setTimeout(function() {
    var alerts = document.getElementsByClassName('alert');
    for (var i = 0; i < alerts.length; i++) {
      alerts[i].style.display = 'none';
    }
  }, 3000);
</script> %>